Airflow_EMR/pgdata/
# Exclude all EC2 instance files and folders
*.ec2
*.log
instance-*
ec2-*
temp/
tmp/
ec2_setup.sh
ubuntu_ec2_config.json
ubuntu_install.sh
.cache/
.cursor-server/
.shh/
.bashrc
.profile
awscliv2.zip
.sudo_as_admin_successful
.bash_history
.bash_logout
main.env
